@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.navbar {
    animation: navbarAnimation 1s ease-in-out; 
}
@keyframes navbarAnimation {
    0%   {top: -15rem; opacity: 0%;}
    100% {top: 0rem; opacity: 100%;}
}
.btn {
    @apply transition ease-in duration-300 tracking-wide hover:bg-primary rounded-lg hover:shadow-lg hover:text-white whitespace-nowrap
}
.btn-main {
    @apply text-white bg-undertone    
}
.btn-light {
    @apply text-undertone bg-white
}
.btn-disabled {
    @apply text-undertone bg-gray-100 tracking-wide rounded-lg whitespace-nowrap
}
.link {
    @apply transition-colors duration-300 hover:text-primary hover:cursor-pointer
}
.lineClamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}
.lineClamp1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.errorBox {
    right: -15rem;
    animation: errorBoxAnimation 9.1s ease-in-out infinite;
  }
@keyframes errorBoxAnimation {
    0%   {right: -15rem; opacity: 100%;}
    15%  {right: 2rem;}
    85%  {right: 2rem; opacity: 100%;}
    100% {right: 2rem; opacity: 0%;}
  }

.loading {
    animation: loadingAnimation 1s ease-in-out infinite;
  }
  @keyframes loadingAnimation {
    0%   {rotate: 0deg}
    100% {rotate: 360deg}
  }

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #E4A0F7 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
    background-color: #E4A0F7;
    border-radius: 10px;
    border: 3px solid #ffffff;
}